<!doctype html>
<html><head><style>
@font-face { font-family: FirnMetric; src: url(FirnMetric.ttf) }
* { margin: 0; padding: 0; border: 0 }
html { font-family: FirnMetric; font-size: 20px }
</style></head>
<body>

<div style="width:400px">X<span style="display:inline-block;width:30px;height:50px"></span>X</div>
<div style="width:400px">X<span style="display:inline-block;width:30px;height:50px;vertical-align:top"></span>X</div>
<div style="width:400px">X<span style="display:inline-block;width:30px;height:50px;vertical-align:bottom"></span>X</div>
<div style="width:400px;line-height:60px">X<span style="display:inline-block;width:10px;height:20px;vertical-align:middle"></span>X</div>
</body></html>
