<!doctype html>
<html><head><style>
@font-face { font-family: FirnMetric; src: url(FirnMetric.ttf) }
* { margin: 0; padding: 0; border: 0 }
html { font-family: FirnMetric; font-size: 20px }
</style></head>
<body>

<div style="position:relative;left:10px;top:10px;width:300px;height:200px;padding:20px;border:5px solid">
  <div style="position:absolute;left:0;top:0;width:100px;height:100px">
    <div style="position:absolute;left:10px;top:10px;width:20px;height:20px"></div>
  </div>
</div>
</body></html>
