<!doctype html>
<html><head><style>
@font-face { font-family: FirnMetric; src: url(FirnMetric.ttf) }
* { margin: 0; padding: 0; border: 0 }
html { font-family: FirnMetric; font-size: 20px }
</style></head>
<body>

<div style="width:600px;padding:10px;border:2px solid;margin:15px">
  <div style="float:left;width:80px;height:100px;margin-right:10px"></div>
  <p style="margin:0 0 10px 0">AA BB CC DD EE FF GG HH II JJ</p>
  <div style="overflow:hidden">
    <span style="display:inline-block;width:40px;height:30px"></span>
    <span>TT</span>
  </div>
  <div style="clear:both;height:5px"></div>
</div>
</body></html>
