<!doctype html>
<html><head><style>
@font-face { font-family: FirnMetric; src: url(FirnMetric.ttf) }
* { margin: 0; padding: 0; border: 0 }
html { font-family: FirnMetric; font-size: 20px }
</style></head>
<body>

<div style="width:400px">X<span style="display:inline-block;width:80px">AA BB</span>Y</div>
<div style="width:400px">X<span style="display:inline-block;width:80px;overflow:hidden">AA BB</span>Y</div>
<div style="width:400px">X<span style="display:inline-block;width:80px;padding:5px">AA</span>Y</div>
</body></html>
