<!doctype html>
<html><head><style>
@font-face { font-family: FirnMetric; src: url(FirnMetric.ttf) }
* { margin: 0; padding: 0; border: 0 }
html { font-family: FirnMetric; font-size: 20px }
.a { position: absolute; left: 0; top: 0; width: 200px; height: 200px;
     z-index: 3 }
.b { position: absolute; left: 60px; top: 60px; width: 200px; height: 200px;
     z-index: 3 }
.c { position: absolute; left: 120px; top: 120px; width: 200px; height: 200px;
     z-index: 3 }
</style></head>
<body>
<div class="c"></div>
<div class="b"></div>
<div class="a"></div>
</body></html>
