<!doctype html>
<html><head><style>
@font-face { font-family: FirnMetric; src: url(FirnMetric.ttf) }
* { margin: 0; padding: 0; border: 0 }
html { font-family: FirnMetric; font-size: 20px }
.f { float: left; width: 200px; height: 200px }
.inner { position: absolute; left: 40px; top: 40px; width: 300px;
         height: 300px }
.after { position: relative; width: 400px; height: 100px; margin-top: -180px }
</style></head>
<body>
<div><div class="f"><div class="inner"></div></div></div>
<div class="after"></div>
</body></html>
