<!doctype html>
<html><head><style>
@font-face { font-family: FirnMetric; src: url(FirnMetric.ttf) }
* { margin: 0; padding: 0; border: 0 }
html { font-family: FirnMetric; font-size: 20px }
.fx { position: fixed; left: 0; top: 0; width: 300px; height: 300px }
.deep { position: absolute; left: 0; top: 0; width: 300px; height: 300px;
        z-index: 99 }
.other { position: absolute; left: 150px; top: 100px; width: 300px;
         height: 300px; z-index: 5 }
</style></head>
<body>
<div class="fx"><div class="deep"></div></div>
<div class="other"></div>
</body></html>
