<!doctype html>
<html><head><style>
@font-face { font-family: FirnMetric; src: url(FirnMetric.ttf) }
* { margin: 0; padding: 0; border: 0 }
html { font-family: FirnMetric; font-size: 20px }
.row { display: flex; width: 400px; height: 200px }
.i1 { width: 200px; height: 200px; z-index: 2 }
.i2 { width: 200px; height: 200px; z-index: 1; margin-left: -100px }
.over { position: absolute; left: 50px; top: 50px; width: 100px;
        height: 100px }
</style></head>
<body>
<div class="row"><div class="i1"><div class="over"></div></div>
<div class="i2"></div></div>
</body></html>
